<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bpj.optimization.optimization">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".lsn01.LeakageActivity" />
        <activity android:name=".lsn02.ListenerActivity" />
        <activity android:name=".lsn03.CommonLeakageCaseActivity" />
        <activity android:name=".lsn05.DataStructuresActivity" />
        <activity android:name=".lsn05.BusyUIThreadActivity" />
        <activity android:name=".lsn05.CachingActivity" />
        <activity android:name=".lsn05.CachingActivity2" />
        <activity android:name=".lsn05.MemoryChurnActivity" />
        <activity android:name=".lsn05.Lsn05Activity" />
        <activity android:name=".lsn05.MemoryChurnActivity2" />
        <activity android:name=".lsn06.LayoutOptimizationActivity" />
        <activity android:name=".lsn06.CardsActivity" />
        <activity android:name=".lsn06.BeforeOptimizationActivity" />
        <activity android:name=".lsn08.Lsn08Activity" />
        <activity android:name=".lsn10.JobSchedulerActivity" />
        <activity
            android:name=".lsn08.WaitForPowerActivity"
            android:label="@string/title_activity_wait_for_power"
            android:parentActivityName="com.bpj.optimization.optimization.lsn08.Lsn08Activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bpj.optimization.optimization.lsn08.Lsn08Activity" />
        </activity>
        <activity android:name=".lsn09.WakeLockActivity" />
        <activity android:name=".lsn10.JobSchedulerSettingActivity" />
        <activity android:name=".lsn11.CacheActivity" />
        <activity android:name=".lsn12.Lsn12Activity" />
        <activity android:name=".lsn13.Lsn13Activity"/>
        <activity android:name=".lsn14.Lsn14Activity"/>

    </application>

</manifest>